body {
  background-color: #5636A5;
  margin: 0;
  height: 100%;
  font-family: 'Raleway';
}

h1, h2, h3, h4, h5 {
  font-family: 'Playball';
}

html, head, body, div, ul, li, img {
  margin: 0;
  padding: 0;
}

.fade-enter-active {
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    opacity: 1;
}
.fade-enter {
    opacity: 0;
}
.fade-leave {
    display: none;
}
.fade-leave-active {
    display: none;
}

.scale-leave {
    transform: scale(1, 1);
}
.scale-leave-active {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    transform: scale(0, 0);
    z-index: 20;
}
