<!DOCTYPE html><html>
  <head>
    <meta charset=utf-8>
    <title>Hoo</title>
    <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css>
    <link href=/static/css/app.9deaab1ad8ab23ff55a9e69385ef7053.css rel=stylesheet>
  </head>
  <body>
    <script type=text/javascript>Vue.http.headers.common['X-CSRF-TOKEN'] = csrf_token()</script>
    <div id=app></div>
    <script type=text/javascript src=/static/js/manifest.4fd6db14ae5b8e7d78a7.js></script>
    <script type=text/javascript src=/static/js/vendor.f6ff4a2661dc522d1e7f.js></script>
    <script type=text/javascript src=/static/js/app.2b806fa3deeacb17ede3.js></script>
  </body>
</html>
